* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
}

h1,
h2 {
	text-align: left;
}

.container {
	margin: 20px;
	width: 1500px;
	background: black;
	color: white;
	display: table;
}

header {
	color: black;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3de07e;
	background-image: url("assets/ninjahead.svg");
	background-size: 280px;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 600px;
}

header h1 {
	font-size: 6rem;
}

.checkout-header {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	padding-top: 180px;
	font-size: 2.5rem;
}

.menubtn {
	background-image: url("assets/navicon.svg");
	background-repeat: no-repeat;
	display: block;
	content: "";
	width: 32px;
	height: 32px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.posters,
.checkout {
	color: white;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	max-width: 1060px;
	margin-top: 40px;
}

.posters div {
	flex: 25%;
	margin: 20px 20px 60px 20px;
}

.posters div img,
.checkout div img {
	width: 100%;
}

.posters h2,
.checkout h2 {
	margin-top: 16px;
	font-size: 2rem;
}

.posters p {
	margin-top: 16px;
	line-height: 1.6rem;
	font-size: 1rem;
}

.posters a,
.checkout a {
	background-color: rgb(229, 67, 89);
	color: white;
	text-decoration: none;
	padding: 8px 16px;
	display: inline-block;
	margin-top: 40px;
	font-weight: 600;
	border-radius: 4px;
	font-size: 0.75rem;
}
.checkout a {
	margin-top: 20px !important;
}

.posters .div:nth-child(10),
.posters .div:nth-child(11),
.checkout div {
	flex: 50% !important;
}

.checkout div {
	flex: 40% !important;
	margin: 20px 20px 60px 20px;
}

article {
	padding: 20px;
	background-color: white;
	color: black;
	margin-top: -4px;
}

article a {
	font-size: 0.9rem !important;
	padding: 16px 24px !important;
	margin-top: 60px !important;
}

.posters a:hover,
.checkout a:hover {
	text-decoration: none;
	background-color: rgb(185, 51, 51);
}

.checkout-bottom {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
	display: block;
}

.flextable {
	font-size: 1.2rem;
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flextable div {
	line-height: 3rem;
	flex: 42%;
}
.flextable div:nth-child(3n) {
	text-align: right;
	flex: 8%;
}

.flextable div:nth-child(1),
.flextable div:nth-child(2),
.flextable div:nth-child(3) {
	background-color: rgb(55, 55, 55);
}

.flextable .last {
	border-top: 1px solid white;
	flex: 50%;
	font-weight: bold;
}

.flextable .last:last-child {
	text-align: right;
}

.button {
	float: right;
	margin-right: 20px;
	margin-bottom: 80px;
	background-color: rgb(229, 67, 89);
	color: white;
	text-decoration: none;
	padding: 20px 30px;
	display: block;
	margin-top: 40px;
	font-weight: 600;
	border-radius: 4px;
	font-size: 1rem;
}

.button:hover {
	text-decoration: none;
	background-color: rgb(185, 51, 51);
}

footer {
	clear: both;
	padding: 20px;
	line-height: 1.8rem;
	display: flex;
	justify-content: center;
	color: white;
	padding-top: 60px;
	padding-bottom: 100px;
	background-color: rgb(51, 51, 51);
}

footer h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}

footer .contain {
	display: flex;
	justify-content: space-between;
	width: 70%;
}

footer ul {
	list-style: none;
}

footer .links {
	display: flex;
}

footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	opacity: 0.5;
	text-decoration: underline;
}

footer .links a {
	text-indent: -10000px;
	overflow: hidden;
	display: block;
	width: 32px;
	height: 32px;
	margin-right: 16px;
}

.icon-twitter {
	background-image: url("assets/logo-twitter.svg");
}

.icon-facebook {
	background-image: url("assets/logo-facebook.svg");
}

.icon-linkedin {
	background-image: url("assets/logo-linkedin.svg");
}

.icon-instagram {
	background-image: url("assets/logo-instagram.svg");
}
