* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
}

.container {
	margin: 20px;
	width: 1500px;
	background: black;
	display: table;
}

header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3de07e;
	background-image: url("assets/char-2.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center 360px;
	height: 600px;
}

header h1 {
	font-size: 6rem;
}

.menubtn {
	background-image: url("assets/navicon.svg");
	background-repeat: no-repeat;
	display: block;
	content: "";
	width: 32px;
	height: 32px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.posters {
	color: white;
	margin: 60px auto 40px auto;
	display: flex;
	flex-wrap: wrap;
	width: 71%;
}

.posters div {
	flex: 25%;
	margin: 20px 20px 60px 20px;
}

.posters div img {
	width: 100%;
}

.posters h2 {
	margin-top: 16px;
	font-size: 2rem;
}

.posters p {
	margin-top: 16px;
	line-height: 1.6rem;
	font-size: 1rem;
}

.posters a {
	background-color: rgb(229, 67, 89);
	color: white;
	text-decoration: none;
	padding: 8px 16px;
	display: inline-block;
	margin-top: 40px;
	font-weight: 600;
	border-radius: 4px;
	font-size: 0.75rem;
}

.posters .div:nth-child(10),
.posters .div:nth-child(11) {
	flex: 50%;
}

article {
	padding: 20px;
	background-color: white;
	color: black;
	margin-top: -4px;
}

article a {
	font-size: 0.9rem !important;
	padding: 20px !important;
}

footer {
	display: flex;
	justify-content: center;
	color: white;
	padding-top: 60px;
	padding-bottom: 100px;
	background-color: rgb(51, 51, 51);
}
